@inject JsInteropHelper _interop;
@implements IAsyncDisposable;

<div class="blaze-console-container">
    <textarea id="@consoleId"
              name="@consoleId"
              class="console-window"
              cols="@console.WindowHeight"
              rows="@console.WindowWidth"
              style="@style">

        @consoleGrid
    </textarea><div class="details">
        @* TODO Trim Info *@
        <div>
            <strong><em>Width: @width</em></strong>
            <strong><em>Height: @height</em></strong>
        </div>
        <div>
            <strong><em>Columns: @console.WindowWidth</em></strong>
            <strong><em>Rows: @console.WindowHeight</em></strong>
        </div>
    </div>
</div>

@code {
    private ConsoleService console = new ConsoleService();
    private string consoleGrid = "";
    private string inputBuffer = "";
    private int fontSize = 16;
    private int _width;
    private int width { get { return _width; }
        set
        {
            _width = value;
            DrawScreen();
        } }
    private int _height;
    private int height
    {
        get { return _height; }
        set
        {
            _height = value;
            DrawScreen();
        }
    }
    private int borderWidth = 1;
    private string consoleId = "blaze-console";
    private string style => $"color: {console.ForegroundColorString};"
    + $"background-color: {console.BackgroundColorString};"
    + $"font-size: {fontSize}px;"
    + $"border: {borderWidth}px solid black;";



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await ComputeColumnsAndRows();
        if (!string.IsNullOrEmpty(inputBuffer))
            DrawScreen();
        if (firstRender)
            consoleGrid = GenerateFiller();
    }

    private async ValueTask ComputeColumnsAndRows()
    {
        width = await _interop.GetWidthPixels(consoleId);
        height = await _interop.GetHeightPixels(consoleId);

        console.WindowWidth = (width - borderWidth) / (fontSize - 7);
        console.WindowHeight = (height - borderWidth) / (fontSize + 3);

        StateHasChanged();
    }

    private string GenerateFiller()
    {
        var filler = "";

        for (int i = 0; i < console.WindowHeight; i++)
        {
            for (int x = 0; x < console.WindowWidth; x++)
            {
                filler = filler + "Q";
            }
            filler = filler + Environment.NewLine;
        }

        return filler;
    }
    private void DrawScreen()
    {
        if (inputBuffer == consoleGrid) return;
        if (inputBuffer.Length == consoleGrid.Length)
        {
            consoleGrid = inputBuffer;
        }
        else
        {
            var inputCols = CountInputColumns();
            var inputRows = CountInputRows();

            consoleGrid = GenerateFiller();
        }
    }
    private int CountInputColumns()
    {
        return 0;
    }
    private int CountInputRows()
    {
        return 0;
    }

    public async ValueTask DisposeAsync() => await _interop.DisposeAsync();


    /*TODO:
    * ensure user cannot resize window smaller than inputBuffer if inputBuffer != consoleGrid
    * create event handler to catch keyboard input before propagation to textarea element.
    * ensure characters are replaced and that consoleGrid is not expanded/wrapped outside the bounds of console.WindowWidth and console.WindowHeight
    * add event handlers for ConsoleService class events (OnRead,OnWrite, OnReadKey, etc)
    *
    * TRY TO DO BETTER THAN USING MAGIC NUMBER MODIFIERS FOR COLUMNS AND ROWS???
    */

}